html *
{
   font-size: 1em !important;
   color: #000 !important;
   font-family: Arial !imp  ortant;
}

body {
    font-size: 16px;
    font-family: Helvetica;
}

p {
    line-height: 1.5;
}

.highlighted {
    color: Black;
}
